<div class="add-customer-grid">

    <div class="add-button">
      <Label>Add a new customer:        </Label>
        <button mat-fab color="primary" class ="plus-btn"(click) = "toggleForm()">
           <i class="fa fa-plus fa-1x"></i>
          </button>
    </div>
    <br>
    <br>
 
  <div class="form" *ngIf = "displayForm === true">
    <mat-form-field>
      <input matInput [(ngModel)]="newCustomer.FirstName" placeholder="Enter First Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="newCustomer.LastName" placeholder="Enter Last Name">
    </mat-form-field>
    <mat-form-field>
      <mat-select [(value)]="newCustomer.company_id" placeholder="Choose Company:">
        <mat-option>None</mat-option>
        <mat-option *ngFor = "let company of allCompanies" value = "{{company.company_id}}">{{company.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="newCustomer.Email" placeholder="Enter Email">
    </mat-form-field>
    <mat-form-field>
      <input matInput [(ngModel)]="newCustomer.Phone" placeholder="Enter Phone Number">
    </mat-form-field>
    <button mat-button (click)="submitCustomer()" color="primary">Submit</button>
    <button mat-button (click)="Cancel()" color="primary">Cancel</button>
  </div>
</div>